---
- name: Configure Basic Network Services
  hosts: cisco
  gather_facts: no

  vars:
    ntp_servers:
      - time.google.com
      - time.cloudflare.com
    timezone: CST

  tasks:

    - name: Configure NTP servers
      ios_config:
        match: line
        lines: "{{ ntp_servers | map('regex_replace', '^(.*)$', 'ntp server \\1') | list }}"

    - name: Configure timezone
      ios_config:
        lines:
          - "clock timezone {{ timezone }} -6"

    - name: Configure MOTD banner
      ios_config:
        lines:
          - "banner motd #Unauthorized access is prohibited!#"
